extends layout

block content
  h1= title
  p= summary

  hr

  for lesson in lessons
    .d-flex.mb-3
      if lesson.thumbnailUrl
        .flex-shrink-0.me-3
          img(src=lesson.thumbnailUrl, alt='Thumbnail for #{lesson.title}')

      .flex-grow-1
        h3.mt-0: a(href='/lessons/#{lesson.id}')
          = lesson.title
        p= lesson.subtitle
