extends layout

block content
	article
		h1= title
		p.lead= subtitle
		p.text-muted
			span= numberOfWords +  ' Words'
			= ' - '
			span= readingDuration +  ' Minutes'
		p= summary

		hr

		!= content

block scripts
	script.
		hljs.initHighlightingOnLoad()
