extends ../layout

block content
  if exercises.length === 0
    h1.pb-2.mb-4.border-bottom.
      There are no exercises available yet.
      #[br]
      #[small Please sign up and create the first ones!]

  else
    .table-responsive
      table#exercisesTable.table.table-striped.table-bordered.table-sm
        thead
          tr
            th Nr
            th Subject
            th Type
            th Task
            th Difficulty
            th Credits
            th Tags
            th Flags
            th Note

        tbody
          each exercise, index in exercises
            tr
              td= index + 1
              td.small= exercise.subjects
              td.small= exercise.type
              td.small
                - var task = exercise.task
                a(
                href= exercise.url,
                title= task ? task : ''
                )
                  =(task) ? task.substr(0, 80) + '…' : ''
              td
                if exercise.difficulty
                  span.text-muted.small= exercise.difficulty
                  .progress
                    .progress-bar.bg-secondary(style=`width: ${exercise.difficulty * 100}%`)

              td
                if exercise.credits
                  span.badge.rounded-pill.text-bg-secondary
                    = exercise.credits

              td
                if exercise.tags
                  span.badge.text-bg-secondary(
                  title=exercise.tags.join(', ')
                  )
                    = exercise.tags.length

              td.text-center
                if !exercise.solutions && !exercise.approach
                  span.text-danger ✗

              td.small.text-muted
                = (exercise.note) ? exercise.note : ''
