div
  table(
  cellspacing='0',
  cellpadding='0',
  border='0',
  width='100%',
  style='width: 100%'
  )
    tbody
      tr
        td(
        valign='top',
        bgcolor='#1A1A1A',
        width='100%',
        style='padding: 40px 30px 0'
        )
          table(
          align='center',
          valign='top',
          border='0',
          cellpadding='0',
          cellspacing='0',
          width='600',
          style='width: 600px'
          )
            tbody
              tr
                td
                  table(
                  cellspacing='0',
                  cellpadding='0',
                  border='0',
                  width='100%',
                  style='width: 100%'
                  )
                    tbody
                      tr
                        td(align='left',
                        width='340',
                        style='padding-bottom: 20px; color: #ddd; font-size: 32px; font-family: "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif')
                          | Finish signing up for Educatopia
                        td(
                        align='right',
                        valign='bottom',
                        style='line-height:0'
                        )
  table(
  cellspacing='0',
  cellpadding='0',
  border='0',
  width='100%',
  style='width:100%',
  bgcolor='#272727'
  )
    tbody
      tr
        td(
        valign='top',
        width='100%',
        style='border-bottom:1px solid #cacfc0;padding:0 30px 30px'
        )
          table(
          align='center',
          valign='top',
          border='0',
          cellpadding='0',
          cellspacing='0',
          width='600',
          style='width:600px'
          )
            tbody
              tr
                td
                  h2(
                  style='font-family: "Helvetica Neue",Calibri,Helvetica,Arial,sans-serif; font-weight: bold; font-size: 24px; color: #fff; margin: 35px 0 10px'
                  ) You're almost there...
                  p(
                  style='font-family: "Helvetica Neue", Calibri, Helvetica, Arial, sans-serif; font-size: 16px; line-height: 24px; color: #cccccc; margin: 0 0 10px'
                  ) You started signing up for Educatopia and can finish right now!
                  p(
                  style='font-family:"Helvetica Neue",Calibri,Helvetica,Arial, sans-serif; font-size: 16px; line-height: 24px; color: #cccccc; margin: 0 0 10px'
                  ) Click here:
                  p(
                  style='font-family: "Helvetica Neue",Calibri,Helvetica,Arial, sans-serif; font-size: 16px; line-height: 24px; color: #cccccc; margin: 0 0 10px; text-align: center'
                  )
                    a(
                    href=`http://${hostname}/confirm/${userData.confirmationCode}`,
                    style='font-family: "Helvetica Neue", Calibri, Helvetica, Arial,sans-serif; background-color: rgb(67,152,186); color: white; display: inline-block; padding: 0 32px; margin: 0; border-radius: 2px; font-size: 16px; line-height: 40px; text-decoration: none',
                    target='_blank'
                    ) Finish signing up

                  p(
                  style='font-family:"Helvetica Neue",Calibri,Helvetica,Arial,sans-serif;font-size:16px;line-height:24px;color:#cccccc;margin:0 0 10px'
                  ) Adrian and the Educatopia Team
  table(
  cellspacing='0',
  cellpadding='0',
  border='0',
  width='100%',
  style='width:100%',
  bgcolor='#272727'
  )
    tbody
      tr
        td(
        valign='top',
        width='100%',
        style='border-top: 1px solid black; padding: 10px 30px 15px'
        )
          table(
          align='center',
          valign='top',
          border='0',
          cellpadding='0',
          cellspacing='0',
          width='600',
          style='width:600px'
          )
            tbody
              tr
                td(
                align='center'
                )
                  p(
                  style='font-family:"Helvetica Neue",Calibri,Helvetica,Arial,sans-serif;font-weight:normal;font-size:10px;color:#cccccc'
                  ) You can also copy and paste the following link into your browser's address bar:
                    br
                    a(
                    href=`http://${hostname}/confirm/${userData.confirmationCode}`,
                    style='font-family:"Helvetica Neue",Calibri,Helvetica,Arial,sans-serif; font-size: 10px; font-weight: normal; color: rgb(67,152,186); text-decoration: none',
                    target='_blank'
                    ) http://#{hostname}/confirm/#{userData.confirmationCode}
                  p(
                  style='font-family:"Helvetica Neue",Calibri,Helvetica,Arial,sans-serif; font-weight: normal; font-size: 10px; color:#cccccc'
                  )
                    | This is a one-time message and there's no need to unsubscribe. If you did not sign up for
                    br
                    | Educatopia, simply ignore this message and the account will automatically be closed.
                  p(
                  style='font-family: "Helvetica Neue",Calibri,Helvetica,Arial,sans-serif; font-weight:normal; font-size: 10px; color: #cccccc'
                  )
                    a(
                    href='http://educatopia.org/about/privacy-policy',
                    style='font-family:"Helvetica Neue",Calibri,Helvetica,Arial,sans-serif; font-size: 10px; font-weight:normal; color: rgb(67,152,186); text-decoration:none',
                    target='_blank'
                    ) Privacy Policy

                    span  | <!--whitespace-->

                    a(
                    href='http://educatopia.org/about/tos',
                    style='font-family:"Helvetica Neue",Calibri,Helvetica,Arial,sans-serif; font-size: 10px; font-weight: normal; color: rgb(67,152,186); text-decoration: none',
                    target='_blank'
                    ) Terms of Service
